<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Development</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.ico" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1><a href="index.html">The Bridge</a></h1> -->
        <a href="{{url_for("hello")}}"><img src="static/assets/img/logo.png"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#what-we-do">Positions</a></li>
          <li><a href="#contact">How To Apply</a></li>
          <li><a href="https://thebridge.psgtech.ac.in" target=_blank>Main Website</a></li>
          <li><a href="https://thebridge.psgtech.ac.in/careers/" target=_blank>Careers</a></li>
          <li><a href="https://thebridge.psgtech.ac.in/interviews/" target=_blank>Interviews</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="https://twitter.com/thebridgepsg" class="twitter" target=_blank><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/thebridgepsg" class="facebook" target=_blank><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/thebridgepsg/" class="instagram" target=_blank><i class="icofont-instagram"></i></a>
        <a href="https://www.linkedin.com/company/the-bridge-psg-tech" class="linkedin" target=_blank><i class="icofont-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>The Bridge</span></h1>
      <h2>PSG College of Technology</h2>
      <a href="#what-we-do" class="btn-get-started scrollto">We're Recruiting!</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>We're Now Recruiting!</h2>
          <p>We're looking for</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-pen"></i></div>
              <h4>Correspondents</h4>
                <p>Write a poem or comic piece.</p>
                <p><b>or</b></p>
                <p>Write an article on a topic of your choice!</p>
                <p><b>or</b></p>              
                <p>Summarize an existing article (from below)</p>
                <p><a class="special" href="https://www.nytimes.com/2021/01/23/science/six-stars-eclipses.html" target=_blank><b>Six Stars, Six Eclipses</b></a></p>
                <p><a class="special" href="https://www.wired.com/story/space-food-what-will-keep-us-human/" target=_blank><b>Space Food</b></a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-code-block"></i></div>
              <h4>Web Developers</h4>
                <p>Share your portfolio (github/gitlab/linkedin)</p>
                <p><b>and</b></p>
                <p>Redesign <a class="special" href="https://thebridge.psgtech.ac.in/recruitment/" target=_blank><b>this</b></a> recruitment page, with your choice of tools. Share a complete production URL & its source code. Additional functionality will be considered. Enjoy yourself and make it simple!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-pencil"></i></div>
              <h4>Designers</h4>
                <p>Share your portfolio (website/creations)</p>
                <p><b>and</b></p>
                <p>Design a poster for an existing Bridge Article.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Apply!</h2>
          <p>Mail us your submissions to</p>
          <br>

        <p><b><a class="btn-get-started" href="mailto:thebridgepsg@psgtech.ac.in">thebridgepsg@psgtech.ac.in</a></b></p>
        </div>

        
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>The Bridge</h3>
            <p>
              PSG College of Technology <br>
              Peelamedu, Coimbatore, TN 641004<br>
              India <br><br>
              <strong>Phone:</strong> 0422 257 2177<br>
              <strong>Email:</strong> principal@psgtech.ac.in<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#what-we-do">Positions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">How To Apply</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://thebridge.psgtech.ac.in" target=_blank>Main Website</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://thebridge.psgtech.ac.in/everything-psg/" target=_blank>Everything PSG</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://thebridge.psgtech.ac.in/careers/" target=_blank>Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://thebridge.psgtech.ac.in/interviews/" target=_blank>Interviews</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://thebridge.psgtech.ac.in/series/" target=_blank>Series</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://thebridge.psgtech.ac.in/category/entrepreneurship/" target=_blank>Entrepreneurship</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Subscribe To Our Newsletter</h4>
            <p>Get the latest posts delivered right to your inbox.</p>
            <a target=_blank href="https://psgtech.us17.list-manage.com/subscribe/post?u=3724c926db363a7c051db30bb&id=77e355c53b" class="btn-get-started scrollto">Subscribe</a>
            <br><br>
            <p>For comments/feedback/suggestions, please write to</p>
            <p style="color: #f8c900;"><a href="mailto:thebridgepsg@gmail.com">thebridgepsg@gmail.com</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/thebridgepsg" class="twitter" target=_blank><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/thebridgepsg" class="facebook" target=_blank><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/thebridgepsg/" class="instagram" target=_blank><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/the-bridge-psg-tech" class="linkedin" target=_blank><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>